[credential]
    helper = store --file ~/.git-credentials
    helper = cache --timeout 30000

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[core]
    autocrlf = false
    eol = lf
    editor = nano

[filter "spaces2tabs"]
    clean = unexpand --tabs=4 --first-only
    smudge = expand --tabs=4 --initial

[filter "tabs2spaces"]
    clean = expand --tabs=4 --initial
    smudge = unexpand --tabs=4 --first-only

[include]
    path = ~/.gitconfig-local

[push]
    default = matching

[alias]
    # a = add
    # aa = add -A
    # ac = add .
    # rh = reset HEAD
    # cm = commit
    # cma = commit -a
    # cmm = commit -m
    # cam = commit --amend
    # camm = commit --amend -m
    # ps = push
    # pl = pull
    # mg = merge
    # br = branch
    # cl = clone
    # co = checkout
    # ft = fetch
    # df = diff
    # st = status
    # sh = show
    # rso = remote set-url origin
    # rv = remote -v
    # wc = whatchanged
    graph = log --graph --date=short --format=\"%C(red)%h%C(reset)  %C(magenta)%cd %C(auto)%d%C(reset) %s %C(yellow)%an%C(reset) %C(green)(%cr)%C(reset)\"
    # gr = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
